openapi: 3.1.0
info:
  title: UtilityAPI REST API
  description: >
    UtilityAPI provides authorization, billing, and meter usage data
    integrations across US utility companies. The REST API supports
    customer authorization forms, meter and bill retrieval, interval
    usage data, accounting summaries, and webhook event listing. This
    OpenAPI captures the public v2 surface documented at
    https://utilityapi.com/docs.
  version: "1.0.0"
  contact:
    name: UtilityAPI
    url: https://utilityapi.com/docs
servers:
  - url: https://utilityapi.com/api/v2
security:
  - bearer: []
paths:
  /forms:
    post:
      summary: Create authorization form
      operationId: createForm
      tags: [Forms]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                template:
                  type: string
                customer_email:
                  type: string
                utility:
                  type: string
      responses:
        "200":
          description: Form created
  /forms/{id}/test-submit:
    post:
      summary: Simulate form submission
      operationId: testSubmitForm
      tags: [Forms]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Test submission processed
  /authorizations:
    get:
      summary: List authorizations
      operationId: listAuthorizations
      tags: [Authorizations]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Authorizations
  /meters:
    get:
      summary: List meters
      operationId: listMeters
      tags: [Meters]
      parameters:
        - name: authorizations
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Meters
    post:
      summary: Initiate meter collection
      operationId: collectMeters
      tags: [Meters]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                meters:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Collection initiated
  /bills:
    get:
      summary: List utility bills
      operationId: listBills
      tags: [Bills]
      parameters:
        - name: meters
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Bills
  /intervals:
    get:
      summary: List meter usage intervals
      operationId: listIntervals
      tags: [Intervals]
      parameters:
        - name: meters
          in: query
          schema:
            type: string
        - name: start
          in: query
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Intervals
  /events:
    get:
      summary: List webhook events
      operationId: listEvents
      tags: [Events]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Events
  /accounting/billing-accounts:
    get:
      summary: List billing accounts
      operationId: listBillingAccounts
      tags: [Accounting]
      responses:
        "200":
          description: Billing accounts
  /accounting/billing-summaries:
    get:
      summary: List billing summaries
      operationId: listBillingSummaries
      tags: [Accounting]
      responses:
        "200":
          description: Billing summaries
  /templates:
    get:
      summary: List authorization form templates
      operationId: listTemplates
      tags: [Templates]
      responses:
        "200":
          description: Templates
  /files:
    get:
      summary: List files
      operationId: listFiles
      tags: [Files]
      responses:
        "200":
          description: Files
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      description: >
        Use the Authorization header with the Bearer scheme and an
        UtilityAPI token, e.g. `Authorization: Bearer API_TOKEN_HERE`.
