openapi: 3.1.0
info:
  title: UtilityAPI REST Accounting Forms API
  description: 'UtilityAPI provides authorization, billing, and meter usage data integrations across US utility companies. The REST API supports customer authorization forms, meter and bill retrieval, interval usage data, accounting summaries, and webhook event listing. This OpenAPI captures the public v2 surface documented at https://utilityapi.com/docs.

    '
  version: 1.0.0
  contact:
    name: UtilityAPI
    url: https://utilityapi.com/docs
servers:
- url: https://utilityapi.com/api/v2
security:
- bearer: []
tags:
- name: Forms
paths:
  /forms:
    post:
      summary: Create authorization form
      operationId: createForm
      tags:
      - Forms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                template:
                  type: string
                customer_email:
                  type: string
                utility:
                  type: string
      responses:
        '200':
          description: Form created
  /forms/{id}/test-submit:
    post:
      summary: Simulate form submission
      operationId: testSubmitForm
      tags:
      - Forms
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Test submission processed
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      description: 'Use the Authorization header with the Bearer scheme and an UtilityAPI token, e.g. `Authorization: Bearer API_TOKEN_HERE`.

        '
